/* -------> common */

body {
  font-family: Verdana;
  font-weight: 300;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

/* <------- common */

/* ---------> header */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header .navbar-brand {
  margin-left: 70px;
  padding: 15px 0;
}

header .navbar-brand img {
  width: 143px;
  height: 24px;
}

header .navbar-nav {
  margin-right: 70px;
}

header .navbar-nav .nav-item .nav-link {
  padding: 33px 21px;
  color: #fff;
  font-size: 14px;
}

header .nav-item .nav-link:hover {
  color: #999;
}

header .dropdown-toggle:after {
  content: none;
}

header .dropdown-menu {
  width: 220px;
  border: 0;
  border-radius: 0;
  background-color: #000;
}

header .dropdown-menu .dropdown-item {
  padding: 0 0 0 18px;
  line-height: 50px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}

header .dropdown-menu .dropdown-item:hover {
  background-color: #442606;
}

/* <--------- header */

/* ---------> main */

main .hero {
  background-image: url('./bg.JPG');
  background-size: cover;
  background-position: center;
}

main .copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .copy p {
  display: inline-block;
  margin-top: 100px;
  height: 300px;
  color: #fff;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.lead-container {
  margin-bottom: 40px;
  background-color: #000;
  padding-top: 51px;
  padding-bottom: 76px;
}

.lead-inner {
  color: #fff;
  text-align: center;
}

.lead-inner h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.lead-inner p {
  line-height: 36px;
  font-size: 14px;
}

/* <--------- main */

/* ---------> footer */

/* <--------- footer */

/* ---------> responsive */

@media (max-width: 1199px) {
  header {
    background-color: rgba(0, 0, 0, 1);
  }

  header .navbar-nav .nav-item .nav-link {
    padding: 0 65px;
    line-height: 50px;
    font-size: 13px;
  }

  header .navbar-nav {
    margin-right: 0;
  }

  header .dropdown-menu {
    background-color: #000;
    width: 100%;
  }

  header .dropdown-menu .dropdown-item {
    padding: 0 70px;
  }

  header .dropdown-menu .dropdown-item:hover {
    background-color: #000;
  }
  header .nav-item .nav-link:hover {
    color: #fff;
  }

  header button:focus {
    outline: none;
  }

  header .navbar-toggler {
    position: relative;
    margin-right: 20px;
    padding: 8px 10px;
  }

  header .navbar-toggler span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
  }

  header .navbar-toggler span:nth-of-type(1) {
    top: 0;
  }
  header .navbar-toggler span:nth-of-type(2) {
    top: 7px;
  }
  header .navbar-toggler span:nth-of-type(3) {
    bottom: 0;
  }

  main .hero {
    position: static;
  }
}

@media (max-width: 767px) {
  main .copy p {
    margin-top: 70px;
    height: 180px;
    font-size: 20px;
  }

  .lead-container {
    margin-bottom: 33px;
    padding-bottom: 32px;
  }

  .lead-inner h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .lead-inner p {
    line-height: 26px;
  }
}

/* <--------- responsive */
