/* -------> common */

/* <------- common */

/* ---------> header */

header nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header .navbar-light .navbar-nav .nav-link,
header .navbar-light .navbar-nav .show > .nav-link,
header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #999;
}

header .dropdown-menu.show {
  background-color: #000;
}

header .dropdown-item:focus,
header .dropdown-item:hover {
  background-color: #664229;
  color: #fff;
}

header nav {
  height: 90px;
}

header .img_size {
  width: 143px;
  height: 24px;
}

header .navbar-expand-xl .navbar-collapse {
  justify-content: flex-end;
}

header li .nav-item,
header .nav-link {
  font-family: Verdana;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
}

header .navbar-expand-xl .navbar-nav .nav-link {
  padding: 26px 21px;
}

header .dropdown-item {
  color: #fff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 300;
  padding: 15px 30px;
}

header .dropdown .dropdown-menu.show {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  top: 82px;
}

header .dropdown-toggle:after {
  content: none;
}

/* <--------- header */

/* ---------> main */

/* <--------- main */

/* ---------> responsive */

@media (max-width: 1199px) {
  header .dropdown-item:focus,
  header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }

  header .navber {
    height: 60px;
  }

  header nav {
    background-color: rgba(0, 0, 0, 1);
  }

  header .navbar-expand-xl .navbar-nav .nav-link {
    padding: 18px 0;
  }

  header button:focus {
    outline: none;
  }

  header .navbar-toggler,
  header .navbar-toggler span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  header .navbar-toggler {
    position: relative;
    width: 20px;
    height: 16px;
  }

  header .navbar-toggler span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }

  header .navbar-toggler span:nth-of-type(1) {
    top: 0;
  }
  header .navbar-toggler span:nth-of-type(2) {
    top: 6px;
  }
  header .navbar-toggler span:nth-of-type(3) {
    bottom: 0;
  }
}

/* <--------- responsive */

/* ---------> footer */

/* <--------- footer */
